nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  background-color: #f1f1f1;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3px;
  width: 100%;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: #333;
  min-font-size: 12pt;
}

nav li a:hover {
  background-color: #ccc;
}