{% extends base %}

{% block title %}PSET Change Log{% endblock %}

{% block preamble %}
{{ super() }}
<!-- Global stylesheets -->
<link href="{{ base_url }}/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
<link href="{{ base_url }}/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
<link href="{{ base_url }}/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
{% endblock %}

{% block postamble %}
{{ super() }}
<script src="{{ base_url }}/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="{{ base_url }}/assets/js/app.js"></script>
{% endblock %}

{% block contents %}
<!-- Main navbar -->
<!-- <div class="navbar navbar-expand-lg navbar-static shadow">
    <div class="container-fluid">
        <div class="navbar-brand gap-3">
            <a href="default_layout.html" class="d-inline-flex align-items-left">
                 <img src="{{ base_url }}/assets/img/favicon.ico" alt=""> 
                <img src="{{ base_url }}/assets/img/favicon.ico" alt="Catalyst" style="height: 30px; width: auto;">
            </a>
            <span class="fw-bold fs-5 text-dark">ToolGuard Analytics</span>
        </div>
    </div>
</div> -->
<!-- /main navbar -->



<!-- Page header -->
<div class="page-header">
    <div class="page-header-content d-lg-flex">
        <div class="d-flex">
            {% block header %}
            {{ embed(roots.header) }}
            {% endblock %}
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page content -->
<div class="page-content pt-0">
    <div class="content-wrapper">
        <div class="content">
            <!-- PSET change log Section -->
            <div class="card">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 text-center">Filter Options</h5>
                    </div>
                    
                </div>
                
                <div class="card-body pb-0">
                    {% block PSET_change_log %}
                    {{ embed(roots.PSET_change_log) }}
                    {% endblock %}
                </div>
            </div>

            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">

                    <!-- Title centered via flex-grow -->
                    <div class="flex-grow-1 d-flex justify-content-center">
                        <h5 class="mb-0 text-center">PSET Change Log Data</h5>
                    </div>

                    <!-- Dropdown positioned on top-right -->
                    <div class="dropdown d-inline-flex">
                        <a href="#" class="text-body d-inline-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="ph-export"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            {% block xl_download %}
                            {{ embed(roots.xl_download) }}
                            {% endblock %}
                            {% block csv_download %}
                            {{ embed(roots.csv_download) }}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <div class="card-body pb-0">
                    {% block PSET_change_log_table %}
                    {{ embed(roots.PSET_change_log_table) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
